.roadmap-container{
    margin-top: 100px;
    height: 650px;
    background-color:#79BAEC; 
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 50px;
    width: 100%;
    text-align: left;
} 
.paragraph{
    margin-top: 30px;
    margin-left: 0px;
    width: 770px;
}
.content-h1{
    /* width: 600px; */
    /* margin */
    font-size: 30px;
    

}
.coloured-content
{
    color: orange;
    font-size: 30px;
    text-align: left;
    /* margin-bottom:0; */
}

.box-container{
    display: flex;
    margin: 50px;
    /* flex-wrap: nowrap; 
    flex-direction: row;
   
    /* justify-content: flex-end; */
    
    /* flex: 1; */
    
}
.box{
    width: 350px;
    height: 100px;
    background-color: #003366;
    border: 1px solid lightgrey;
    display: flex;
    margin-left: 20px;
    /* align-self: center; */
    margin-right: 20px;
    padding: 5px;
    
        /* width: calc(50% - 20px);
        height: 100px;
        background-color: lightgray;
        margin: 10px; */

}
/* h1.content{
    font-size: 50px;
} */